<section class="forms-thank-you top-section">
    <div class="message-received-container">
        <%- include('../../../svg/check-envelope') %>
    </div>
    <h2>Thank You!</h2>
    <p class="section-text">
        Your submission has been sent. Please give us adequate time to review your submission. We usually respond within 1-2 business days.
    </p>
</section>