<main class="main-content about-us-page">
    <%- include('./snippets/component/breadcrumb', { page: page }) %>
    <%- include('./pages/about-us/about-us') %>
    <%- include('./pages/about-us/our-venture') %>
</main>