<main class="main-content accessibility">
    <%- include('./snippets/component/breadcrumb', { page: page }) %>
    <%- include('./pages/policy/accessibility/policy', { company: config.company }) %>
</main>