<main class="main-content contact-us-page">
    <%- include('./snippets/component/breadcrumb', { page: page }) %>
    <%- include('./pages/forms/contact-us/contact', { company: config.company }) %>
</main>