<main class="main-content index-page">
    <%- include('./pages/index/hero-shot') %>
    <%- include('./pages/index/about-us') %>
    <%- include('./pages/index/current-venture') %>
    <script src="/scripts/index.js"></script>
</main>