<main class="main-content privacy-policy-page">
    <%- include('./snippets/component/breadcrumb', { page: page }) %>
    <%- include('./pages/policy/privacy/policy', { company: config.company, page: page }) %>
</main>