<nav class="mobile-navigation">
    <div class="mobile-nav-left">
        <a href="<%- pages.home.link %>" class="logo-link">
            <img class="mobile-nav-logo" src="/images/brand/logo.png" alt="Merch EZ Logo">
        </a>
    </div>
    <div class="mobile-nav-right">
        <button class="mobile-nav-button" type="button" data-mobile-nav-button>
            <%- include('../component/hamburger') %>
        </button>
    </div>
    <aside class="mobile-nav-bar hidden" data-mobile-nav-drawer>
        <button type="button" class="mobile-nav-close-button" data-mobile-nav-close-button>X</button>
        <ul class="mobile-nav-link-list">
            <% for(const idx in pages) { %>
                <li class="mobile-nav-link-item">
                    <a href="<%- pages[idx].link %>" class="mobile-nav-link">
                        <%- pages[idx].title %>
                    </a>
                </li>
                <% } %>
        </ul>
    </aside>
</nav>