<section class="policies-privacy-policy">
    <h2>Merchandise EZ Privacy Policy</h2>
    
    <p class="policy-effective-date">
        Effective Date: 6/30/2024
    </p> 
    
    <p class="policy-text">
        Merchandise EZ ("we," "us," or "our") operates the website 
        [merch-ez.com] (the "Site"). This privacy policy ("Policy")
        explains how we collect, use, disclose, and protect your 
        information when you visit our Site.
    </p>
    
    <ol class="policy-ordered-list">
        <li class="policy-list-item">
            <h3 class="policy-title">
                Information We Collect
            </h3>
            <p class="policy-text">
                We collect both personally identifiable information 
                ("PII") and non-personally identifiable information 
                ("Non-PII") from you.
            </p>
            <ol class="policy-ordered-list" type="a">
                <li class="policy-list-item">
                    <p class="policy-text">
                        Personally Identifiable Information
                        We may collect PII such as:
                    </p>
                    <ul class="policy-unordered-list">
                        <li class="policy-list-item">Name</li>
                        <li class="policy-list-item">Email address</li>
                        <li class="policy-list-item">Phone number</li>
                        <li class="policy-list-item">Mailing address</li>
                        <!-- <li class="policy-list-item">Payment information (once e-commerce is launched)</li> -->
                    </ul>
                </li>
                <li class="policy-list-item">
                    <p class="policy-text">
                        Non-Personally Identifiable Information
                        We may collect Non-PII such as:
                    </p>
                    <ul class="policy-unordered-list">
                        <li class="policy-list-item">Browser type</li>
                        <li class="policy-list-item">IP address</li>
                        <li class="policy-list-item">Operating system</li>
                        <li class="policy-list-item">Browsing behavior on our Site</li>
                    </ul>
                </li>
            </ol>
        </li>
        <li class="policy-list-item">
            <h3 class="policy-title">
                How We Use Your Information
            </h3>
            <p class="policy-text">
                We may use the information we collect from you for 
                the following purposes:
            </p>
            <ul class="policy-unordered-list">
                <li class="policy-list-item">To provide and maintain our Site</li>
                <li class="policy-list-item">To improve our Site and services</li>
                <!-- <li class="policy-list-item">To process transactions and send related information (for future e-commerce)</li> -->
                <li class="policy-list-item">To respond to your comments, questions, and requests</li>
                <li class="policy-list-item">To send you technical notices, updates, and security alerts</li>
                <li class="policy-list-item">To communicate with you about products, services, and offers</li>
                <li class="policy-list-item">To monitor and analyze trends, usage, and activities</li>
            </ul>
        </li>
        <li class="policy-list-item">
            <h3 class="policy-title">
                How We Share Your Information
            </h3>
            <p class="policy-text">
                We do not sell, trade, or otherwise transfer your 
                PII to outside parties except as described in this 
                Policy.
            </p>
            <ol class="policy-ordered-list">
                <li class="policy-list-item">
                    <h3 class="policy-title">
                        Third-Party Service Providers
                    </h3>
                    <p class="policy-text">
                        We may share your information with third-party service providers who assist us in operating our Site, conducting our
                        business, or servicing you, so long as those parties agree to keep this information confidential.
                    </p>
                </li>
                <li class="policy-list-item">
                    <h3 class="policy-title">
                        Legal Requirements
                    </h3>
                    <p class="policy-text">
                        We may disclose your information if required 
                        to do so by law or in response to valid 
                        requests by public authorities.
                    </p>
                </li>
            </ol>
        </li>
        <li class="policy-list-item">
            <h3 class="policy-title">
                Cookies and Tracking Technologies
            </h3>
            <p class="policy-text">
                We use cookies and similar tracking technologies to 
                track the activity on our Site and hold certain 
                information. Cookies are files with a small amount 
                of data which may include an anonymous unique 
                identifier.
            </p>
            <p class="policy-text">
                You can instruct your browser to refuse all cookies 
                or to indicate when a cookie is being sent. However, 
                if you do not accept cookies, you may not be able 
                to use some portions of our Site.
            </p>
        </li>
        <li class="policy-list-item">
            <h3 class="policy-title">
                Security of Your Information
            </h3>
            <p class="policy-text">
                We take reasonable measures to help protect your 
                PII from loss, theft, misuse, and unauthorized 
                access, disclosure, alteration, and destruction.
            </p>
        </li>
        <li class="policy-list-item">
            <h3 class="policy-title">
                Your Rights
            </h3>
            <p class="policy-text">
                Depending on your location, you may have the 
                following rights regarding your PII:
            </p>
            <ul class="policy-unordered-list">
                <li class="policy-list-item">The right to access</li>
                <li class="policy-list-item">The right to rectification</li>
                <li class="policy-list-item">The right to erasure</li>
                <li class="policy-list-item">The right to restrict processing</li>
                <li class="policy-list-item">The right to data portability</li>
                <li class="policy-list-item">The right to object</li>
                <ul class="policy-unordered-list">
                    <li class="policy-list-item">To exercise these rights, please contact us at <a href="mailto:<%- company.policy_email %>" class="page-link"><%- company.policy_email %></a>.</li>
                </ul>
            </ul>
        </li>
        <li class="policy-list-item">
            <h3 class="policy-title">
                Changes to This Privacy Policy
            </h3>
            <p class="policy-text">
                We may update our Privacy Policy from time to time. We 
                will notify you of any changes by posting the new Privacy 
                Policy on this page and updating the "Effective Date" at 
                the top.
            </p>
        </li>
        <li class="policy-list-item">
            <h3 class="policy-title">
                Contact Us
            </h3>
            <p class="policy-text">
                If you have any questions about this Privacy Policy, 
                please contact us:
            </p>
            <ul class="policy-unordered-list">
                <li class="policy-list-item">By email: <a href="mailto:<%- company.policy_email %>" class="page-link"><%- company.policy_email %></a></li>
                <li class="policy-list-item">By visiting this page on our website: <a href="/contact-us" class="page-link">Contact Us</a></li>
            </ul>
        </li>
    </ol>
</section>