<section class="policies-privacy-policy top-section">
    <h2>Merchandise EZ Accessibility Statement</h2>
    <p class="policy-text">
        At Merchandise EZ, we are committed to ensuring that our 
        website is accessible to everyone, including individuals with
        disabilities. We strive to provide an inclusive and 
        user-friendly experience for all our visitors. Our goal is 
        to meetnor exceed the Web Content Accessibility Guidelines 
        (WCAG) 2.1 Level AA to ensure our website is accessible and 
        usable for everyone.
    </p>
    <h2>Measures We Take to Provide an Accessible Website</h2>
    <p class="policy-text policy-list-statement">
        We follow a methodical approach to ensure our website is 
        accessible. Here are the steps we take:
    </p>
    <ol class="policy-ordered-list">
        <li class="policy-list-item">Perceivable Content</li>
        <ul class="policy-unordered-list">
            <li class="policy-list-item"><span class="bolded-text">
                Text Alternatives:</span> Provide text alternatives 
                for non-text content such as images, videos, and 
                audio files using alt text and transcripts.
            </li>
            <li class="policy-list-item"><span class="bolded-text">
                Captions and Subtitles:</span> Offer captions for 
                all videos and subtitles for audio content to aid 
                users with hearing impairments.
            </li>
            <li class="policy-list-item"><span class="bolded-text">
                Adaptable Content:</span> Ensure that content can be 
                presented in different ways without losing 
                information or structure, such as using semantic 
                HTML.
            </li>
        </ul>
        <li class="policy-list-item">Operable Interface</li>
        <ul class="policy-unordered-list">
            <li class="policy-list-item"><span class="bolded-text">
                Keyboard Accessibility:</span> Ensure that all 
                functionalities are accessible via keyboard for users 
                who cannot use a mouse.
            </li>
            <li class="policy-list-item"><span class="bolded-text">
                Navigation Aids:</span> Provide clear navigation aids, 
                including a site map, breadcrumbs, and consistent 
                navigation menus.
            </li>
            <li class="policy-list-item"><span class="bolded-text">
                Sufficient Time:</span> Allow users enough time to 
                read and use content by avoiding time-sensitive 
                interactions unless necessary.
            </li>
        </ul>
        <li class="policy-list-item">Understandable Information</li>
        <ul class="policy-unordered-list">
            <li class="policy-list-item"><span class="bolded-text">
                Readable Text:</span> Use clear and simple language 
                for all content. Provide definitions for complex terms 
                and abbreviations.
            </li>
            <li class="policy-list-item"><span class="bolded-text">
                Predictable Navigation:</span> Ensure that web pages 
                appear and operate in predictable ways, such as having 
                consistent layouts and behaviors.
            </li>
            <li class="policy-list-item"><span class="bolded-text">
                Input Assistance:</span> Help users avoid and correct 
                mistakes with error identification, suggestions, and 
                clear instructions.
            </li>
        </ul>
        <li class="policy-list-item">Robust Content</li>     
        <ul class="policy-unordered-list">
            <li class="policy-list-item"><span class="bolded-text">
                Compatibility:</span> Ensure content is compatible 
                with current and future user agents, including 
                assistive technologies, by using proper HTML and CSS 
                standards.
            </li>
            <li class="policy-list-item"><span class="bolded-text">
                Validation:</span> Regularly validate HTML, CSS, and 
                ARIA roles to ensure technical correctness and 
                accessibility compliance.
            </li>
        </ul>
    </ol>
    <h2>Ongoing Efforts and Improvements</h2>
    <p class="policy-text policy-list-statement">
        To maintain and improve our website's accessibility, we 
        continually take the following actions:
    </p>
    <ul class="policy-unordered-list">
        <li class="policy-list-item"><span class="bolded-text">
            Accessibility Audits:</span> Perform regular 
            accessibility audits and usability testing with diverse 
            user groups, including individuals with disabilities.
        </li>
        <li class="policy-list-item"><span class="bolded-text">
            Training and Awareness:</span> Train our web development 
            and content teams on accessibility best practices and 
            guidelines.
        </li>
        <li class="policy-list-item"><span class="bolded-text">
            User Feedback:</span> Encourage and provide a way for 
            users to give feedback on accessibility issues. Address 
            and resolve any reported issues promptly.
        </li>
    </ul>
    <h2>Contact Us</h2>
    <p class="policy-text policy-list-statement">
        If you encounter any accessibility barriers on our website 
        or have suggestions on how we can improve our accessibility,
        please contact us:
    </p>
    <ul class="policy-unordered-list">
        <li class="policy-list-item">By email: <a href="mailto:<%- company.accessibility_email %>" class="page-link"><%- company.accessibility_email %></a></li>
        <li class="policy-list-item">By visiting this page on our website: <a href="/contact-us" class="page-link">Contact Us</a></li>
    </ul>
    <p class="policy-text">
        We are committed to making our website accessible to everyone and will work diligently to address any issues and improve
        the user experience for all visitors.
    </p>
</section>