/* Contact Us Form */

section.forms-contact-us.top-section {
    display: flex;
    gap: 1rem;
}

.get-in-touch-wrapper {
    width: 40%;
}

.contact-us-form-wrapper {
    width: 60%;
}

p.section-text {
    font-size: 1.25rem;
}

form.contact-us-form {
    display: flex;
    flex-direction: column;
}

label.contact-form-label {
    font-weight: 700;
}

input.contact-form-text {
    height: 35px;
    border-radius: 0.25rem;
    padding: 0 0.5rem;
}

span.contact-form-required {
    color: rgb(var(--required-color));
    font-weight: 900;
    font-size: 1.25rem;
    position: relative;
}

span.contact-form-required:hover {
    cursor: help;
}

span.contact-form-required:hover::before {
    content: "This item is required.";
    color: black;
    padding: 0.25rem;
    position: absolute;
    font-size: 0.5rem;
    white-space: nowrap;
    background: rgb(var(--background));
    box-shadow: 0 2px 3px 2px rgba(var(--black), 0.2);
    top: -50%;
    translate: 1rem 50%;
    border-radius: 0.25rem;
}

.contact-form-text.textarea {
    resize: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
}

.primary-button.contact-us-form {
    width: 40%;
    margin: 0 auto;
}

/* Width Styling */

@media(max-width: 850px) {
    section.forms-contact-us.top-section {
        flex-direction: column;
    }

    .get-in-touch-wrapper,
    .contact-us-form-wrapper {
        width: 100%;
        text-align: justify;
    }
}