/* Hero Shot */

main.main-content.index-page {
    padding-bottom: 4rem;
}

.hero-shot-container {
    position: relative;
    display: flex;
    overflow: hidden;
}

span.hero-shot-text svg.check-circle {
    filter: drop-shadow(3px 3px 2px rgb(0 0 0));
}

img.index-hero-shot-image {
    width: 100%;
}

video.index-hero-shot-video {
    width: 100%;
}

.hero-shot-text-wrapper {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    color: white;
    z-index: 2;
    justify-content: center;
    align-items: center;
}

h1.hero-shot-title {
    display: flex;
    flex-direction: column;
    font-size: 5vw;
    font-weight: 900;
    text-shadow: 4px 4px 5px black;
    transform: translate(100%);
    opacity: 0;
    transition: transform 0.75s ease-in-out, opacity 0.3s 0.45s ease-in;
}

h1.hero-shot-title.show {
    transform: translate(0);
    opacity: 1;
}

/* About Us Section */

section.index-current-projects {
    margin-top: 3rem;
}

section.index-about-us,
section.index-current-projects {
    display: flex;
    gap: 1rem;
    padding: 2rem 1rem 0 1rem;
    align-items: center;
}

.index-about-us-container-text,
.index-current-venture-container-text {
    width: 50%;
    padding-bottom: 0;
}

.index-about-us-container-image,
.index-current-venture-container-image {
    width: 50%;
}

img.index-about-us-image,
img.index-current-venture-image {
    width: 100%;
}

@media(max-width: 900px) {
    section.index-about-us {
        flex-direction: column;
    }

    section.index-current-projects {
        flex-direction: column-reverse;
    }

    .index-about-us-container-text,
    .index-about-us-container-image,
    .index-current-venture-container-text,
    .index-current-venture-container-image {
        width: 80%;
    }

    .index-about-us-container-text,
    .index-current-venture-container-text {
        display: flex;
        flex-direction: column;
    }

    .cta-button {
        align-self: center;
    }

    section.index-about-us h2,
    section.index-current-projects h2 {
        text-align: center;
    }

    section.index-current-projects {
        margin-top: 0;
    }
}


@media(max-width: 550px) {

    .index-about-us-container-text,
    .index-about-us-container-image, 
    .index-current-venture-container-text,
    .index-current-venture-container-image {
        width: 100%;
    }
}