/* Universal Settings */

main.main-content:not(.index-page) {
    max-width: 1200px;
    margin: 0 auto;
}

/* --- Breadcrumb --- */

    nav.page-breadcrumb {
        border-bottom: 1px solid rgba(var(--black), 0.1);
        padding-bottom: 0.25rem;
        font-size: 1.3rem;
        display: flex;
        gap: 0.25rem;
    }

    a.breadcrumb-link {
        color: rgb(var(--primary));
        font-weight: 700
    }

    a.breadcrumb-link:hover {
        color: rgb(var(--secondary));
    }

    h1.breadcrumb-current {
        color: rgb(var(--text-color));
        font-weight: 700;
        font-family: var(--font-sans-serif);
        font-size: 1.3rem;
    }

    span.breadcrumb-separator {
        font-weight: 100;
    }