/* Universal Settings */

main.main-content:not(.index-page) {
    max-width: 1200px;
    margin: 0 auto;
}

ul.section-unordered-list {
    margin-left: 1.5rem;
}

/* --- Breadcrumb --- */

    nav.page-breadcrumb {
        border-bottom: 1px solid rgba(var(--black), 0.1);
        padding-bottom: 0.25rem;
        font-size: 1.3rem;
        display: flex;
        gap: 0.25rem;
    }

    a.breadcrumb-link {
        color: rgb(var(--primary));
        font-weight: 700
    }

    a.breadcrumb-link:hover {
        color: rgb(var(--secondary));
    }

    h1.breadcrumb-current {
        color: rgb(var(--text-color));
        font-weight: 700;
        font-family: var(--font-sans-serif);
        font-size: 1.3rem;
    }

    span.breadcrumb-separator {
        font-weight: 100;
    }

/* Thank You Page */
    
.message-received-container {
    font-size: 15rem;
    display: flex;
    justify-content: center;
    color: rgb(var(--secondary));
}

section.forms-thank-you p.section-text {
    font-weight: 600;
    width: 650px;
    text-align: center;
}

section.forms-thank-you {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

@media(max-width: 715px) {
    section.forms-thank-you p.section-text {
        width: 100%;
    }
}

/* About Us Page */

img.about-us-top-page-image {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 10px 1px rgba(var(--black), 0.3);
}

section.about-about-us,
section.about-our-venture {
    margin-top: 1rem;
}

main.main-content.about-us-page .section-text:not(:last-of-type) {
    margin-bottom: 0.5rem;
}

.cta-button.about-us {
    width: 30%;
    text-align: center;
    margin: 1rem auto;
}

@media(max-width: 650px) {
    .cta-button.about-us {
        width: 150px;
    }
}

/* Site Map Page */

main.main-content.site-map-page {
    height: calc(100vh - var(--nav-height) - var(--footer-height));
}