/* Privacy Policy */

section.policies-privacy-policy {
    margin-top: 1rem;
}

section.policies-privacy-policy h2 {
    color: rgb(var(--text-color));
}

p.policy-effective-date {
    font-weight: 500;
}

ol.policy-ordered-list,
ul.policy-unordered-list {
    margin-left: 1.75rem;
}

ol.policy-ordered-list>li::marker {
    font-weight: 700
}

p.policy-text:nth-of-type(2):not(section > p) {
    margin-top: 0.5rem;
}