/* Unversal Styling */

/* --- Initial Page Styling Setup */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Color Theme */
    --primary: 0, 79, 163;
    --secondary: 82, 10, 133;
    --background: 191, 195, 237;
    --hover-background: 207, 210, 241;
    --lightest-grey: 240, 240, 240;
    --grey: 163, 163, 163;
    --black: 0, 0, 0;
    --white: 255, 255, 255;
    --darkest-grey: 71, 71, 71;
    --text-color: 25, 25, 25;
    --required-color: 112, 41, 99;

    /* Font Theme */
    --font-serif: "Noto Serif", serif;
    --font-sans-serif: "Poppins", sans-serif;;

    /* Navigation */
    --nav-height: 100px;
    --main-nav-font-size: 1.25rem;
    --main-nav-font-weight: 600;
    --main-nav-color: white;
    --main-nav-hover: var(--secondary);
    --footer-height: 50px;
    --footer-color: white;
}

body {
    font-size: 16px;
    font-weight: 300;
    background: rgb(var(--background));
}

body.no-scroll {
    overflow-y: hidden;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-sans-serif);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
    font-weight: 600;
}

main:not(.index-page) {
    padding: 1.5rem 1rem 4rem 1rem;
}

a.page-link {
    color: rgb(var(--primary));
    font-weight: 600;
}

a.page-link:hover {
    color: rgb(var(--secondary));
}

span.bolded-text {
    font-weight: 600;
}

section.top-section {
    margin-top: 1rem;
}

.primary-button {
    padding: 0.75rem;
    background: rgb(var(--primary));
    color: rgb(var(--white));
    border: 0;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.primary-button:hover {
    background: rgb(var(--secondary));
}

/* Header */

header.header-content {
    background: rgb(var(--primary));
}

/* --- Navigation --- */

    /* --- Main Navigation --- */

    nav.main-navigation {
        height: var(--nav-height);
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
    }

    .main-nav-left a.logo-link {
        height: 80%;
    }

    img.main-nav-logo {
        height: 100%;
    }

    .main-nav-left {
        display: flex;
        align-items: center;
    }

    ul.main-nav-link-list {
        list-style: none;
        display: flex;
        margin: 0 1rem;
        align-items: center;
        height: 100%;
    }

    a.main-nav-link {
        line-height: 1;
        color: var(--main-nav-color);
        text-decoration: none;
        font-size: var(--main-nav-font-size);
        font-weight: var(--main-nav-font-weight);
        margin: 0px 2rem;
        text-align: center;
    }

    a.main-nav-link:hover {
        color: rgb(var(--main-nav-hover));
    }

    /* --- Mobile Navigation --- */

        nav.mobile-navigation {
            display: none;
            justify-content: space-between;
            height: var(--nav-height);
            padding: 0 1rem;
        }

        a.logo-link {
            display: flex;
            align-items: center;
        }

        img.mobile-nav-logo {
            height: 80%;
        }

        .mobile-nav-left {
            display: flex;
        }

        button.mobile-nav-button {
            height: 30px;
            width: 30px;
            cursor: pointer;
            border: none;
            background: none;
        }

        .mobile-nav-right {
            display: flex;
            align-items: center;
            margin-right: 0.5rem;
        }

        /* --- Hamburger Nav --- */

            .hamburger-icon {
                width: 100%;
            }

            .hamburger-line {
                height: 3px;
                width: 100%;
                border-radius: 100vw;
                background: white;
            }

            button.mobile-nav-button:hover .hamburger-line {
                background: black;
            }

            .hamburger-line:not(:last-of-type, :first-of-type) {
                margin: 0.5rem 0;
            }

        /* --- Mobile Nav Side Drawer --- */

                aside.mobile-nav-bar {
                    position: fixed;
                    right: 0;
                    top: 0;
                    height: 100dvh;
                    width: 290px;
                    background: rgb(var(--background));
                    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
                    transform: translate(100%);
                    transition: transform 0.5s ease-in-out;
                    z-index: 10;
                }

                aside.mobile-nav-bar.open {
                    transform: translate(0);
                }
        
                ul.mobile-nav-link-list {
                    list-style: none;
                    position: absolute;
                    width: 100%;
                    top: 50%;
                    translate: 0 -50%;
                }
        
                button.mobile-nav-close-button {
                    background: none;
                    border: none;
                    font-weight: 700;
                    font-family: var(--font-sans-serif);
                    font-size: 1.75em;
                    margin: 0.75rem;
                    cursor: pointer;
                }
        
                button.mobile-nav-close-button:hover {
                    color: rgb(var(--darkest-grey))
                }
        
                a.mobile-nav-link {
                    display: flex;
                    height: 50px;
                    width: 100%;
                    text-decoration: none;
                    font-family: var(--font-serif);
                    justify-content: center;
                    align-items: center;
                    font-size: 1.5rem;
                    font-weight: 500;
                    background: rgb(var(--background));
                }
        
                a.mobile-nav-link:hover {
                    background: rgb(var(--hover-background));
                }
    
    /* --- Navigation Width --- */

    @media(max-width: 800px) {
        nav.mobile-navigation {
            display: flex;
        }

        nav.main-navigation {
            display: none;
        }
    }

    @media(max-width: 450px) {
        img.mobile-nav-logo { 
            height: unset;
            width: calc(107.7vw - 164.65px);
        }
    }

    @media(max-width: 320px) {
        img.mobile-nav-logo {
            width: 180px;
        }
    }

/* Footer */

footer.footer-content {
    background: rgb(var(--primary));
}

/* --- Navigation --- */

nav.main-footer-nav {
    height: var(--footer-height);
    display: flex;
    justify-content: space-between;
    padding: 0 1rem
}

ul.main-footer-link-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

footer.footer-content a {
    color: white;
    text-decoration: none;
}

.main-footer-left {
    display: flex;
    align-items: center;
}

.main-footer-right {
    display: flex;
    align-items: center;
}

a.main-footer-link {
    font-size: 0.8rem;
}

a.main-footer-link:hover, a.copyright-link:hover {
    color: rgb(var(--secondary));
}

a.main-footer-link {
    padding: 0 0.5rem;
    white-space: nowrap;
}

a.copyright-link {
    font-weight: 500;
}

/* --- Navigation Width --- */

@media(max-width: 600px) {
    nav.main-footer-nav {
        height: auto;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

/* Bottom Cascade Universal Styling */

.hidden {
    display: none;
}

/* Testing */

/* .main-content {
    height: 200vh;
} */