/* Unversal Styling */

/* --- Initial Page Styling Setup */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Color Theme */
    --primary: 0, 79, 163;
    --secondary: 82, 10, 133;
    --background: 191, 195, 237;
    --lightest-grey: 240, 240, 240;
    --grey: 163, 163, 163;
    --darkest-grey: 71, 71, 71;
    --text-color: 25, 25, 25;

    /* Font Theme */
    --font-serif: "Noto Serif", serif;
    --font-sans-serif: "Poppins", sans-serif;;

    /* Navigation */
    --main-nav-height: 100px;
    --main-nav-font-size: 1.25rem;
    --main-nav-font-weight: 600;
    --main-nav-color: white;
    --main-nav-hover: var(--secondary);
}

body {
    font-size: 16px;
    font-weight: 300;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-sans-serif);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
    font-weight: 600;
}

/* Header Styling */

/* --- Main Navigation --- */

nav.main-navigation {
    height: var(--main-nav-height);
}

nav.main-navigation {
    height: var(--main-nav-height);
    background: rgb(var(--primary));
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.main-nav-left a.logo-link {
    height: 80%;
}

img.main-nav-logo {
    height: 100%;
}

.main-nav-left {
    display: flex;
    align-items: center;
}

ul.main-nav-link-list {
    list-style: none;
    display: flex;
    margin: 0 1rem;
    align-items: center;
    height: 100%;
}

a.main-nav-link {
    line-height: 1;
    color: var(--main-nav-color);
    text-decoration: none;
    font-size: var(--main-nav-font-size);
    font-weight: var(--main-nav-font-weight);
    margin: 0px 2rem;
    text-align: center;
}

a.main-nav-link:hover {
    color: rgb(var(--main-nav-hover));
}

/* --- Mobile Navigation --- */
    nav.mobile-navigation {
        display: none;
    }  