/* Unversal Styling */

/* --- Initial Page Styling Setup */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Color Theme */
    --primary: 0, 79, 163;
    --secondary: 82, 10, 133;
    --background: 191, 195, 237;
    --lightest-grey: 240, 240, 240;
    --grey: 163, 163, 163;
    --darkest-grey: 71, 71, 71;
    --text-color: 25, 25, 25;

    /* Font Theme */
    --font-serif: "Noto Serif", serif;
    --font-sans-serif: "Poppins", sans-serif;;

    /* Navigation */
    --nav-height: 100px;
    --main-nav-font-size: 1.25rem;
    --main-nav-font-weight: 600;
    --main-nav-color: white;
    --main-nav-hover: var(--secondary);
}

body {
    font-size: 16px;
    font-weight: 300;
    background: rgb(var(--background));
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-sans-serif);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
    font-weight: 600;
}

/* Header */

header.header-content {
    background: rgb(var(--primary));
}

/* --- Navigation --- */

/* --- Main Navigation --- */

nav.main-navigation {
    height: var(--nav-height);
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.main-nav-left a.logo-link {
    height: 80%;
}

img.main-nav-logo {
    height: 100%;
}

.main-nav-left {
    display: flex;
    align-items: center;
}

ul.main-nav-link-list {
    list-style: none;
    display: flex;
    margin: 0 1rem;
    align-items: center;
    height: 100%;
}

a.main-nav-link {
    line-height: 1;
    color: var(--main-nav-color);
    text-decoration: none;
    font-size: var(--main-nav-font-size);
    font-weight: var(--main-nav-font-weight);
    margin: 0px 2rem;
    text-align: center;
}

a.main-nav-link:hover {
    color: rgb(var(--main-nav-hover));
}

/* --- Mobile Navigation --- */

    nav.mobile-navigation {
        display: none;
        justify-content: space-between;
        height: var(--nav-height);
        padding: 0 1rem;
    }

    a.logo-link {
        display: flex;
        align-items: center;
    }

    img.mobile-nav-logo {
        height: 80%;
    }

    .mobile-nav-left {
        display: flex;
    }

    button.mobile-nav-button {
        height: 30px;
        width: 30px;
        cursor: pointer;
        border: none;
        background: none;
    }

    .mobile-nav-right {
        display: flex;
        align-items: center;
        margin-right: 0.5rem;
    }

    /* --- Hamburger Nav --- */

        .hamburger-icon {
            width: 100%;
        }

        .hamburger-line {
            height: 3px;
            width: 100%;
            border-radius: 100vw;
            background: white;
        }

        button.mobile-nav-button:hover .hamburger-line {
            background: black;
        }

        .hamburger-line:not(:last-of-type, :first-of-type) {
            margin: 0.5rem 0;
        }
    
/* --- Navigation Width --- */

@media(max-width: 800px) {
    nav.mobile-navigation {
        display: flex;
    }

    nav.main-navigation {
        display: none;
    }
}

@media(max-width: 450px) {
    img.mobile-nav-logo { 
        height: unset;
        width: calc(107.7vw - 164.65px);
    }
}

@media(max-width: 320px) {
    img.mobile-nav-logo {
        width: 180px;
    }
}

/* Bottom Cascade Universal Styling */

.hidden {
    display: none;
}