<section class="index-about-us">
    <div class="index-about-us-container-text">
        <h2>About Us</h2>
        <p class="section-text">
            At Merchandise EZ, we specialize in sourcing high-quality 
            electronics and reusable items at affordable prices. Our
            journey began with a shared vision between my cousin and me 
            to simplify the shopping experience for consumers seeking
            reliable products without breaking the bank.
        </p>
        <a href="/about-us" class="cta-button">
            <div class="cta-button-fill">
                Read More
            </div>
        </a>
    </div>
    <div class="index-about-us-container-image">
        <img src="/images/index/index-about-us_1000.jpg" alt="Happy couple sitting at a laptop shopping online." class="index-about-us-image">
    </div>
</section>