<section class="index-current-projects">
    <div class="index-current-venture-container-image">
        <img src="/images/index/index-our-venture_1000.jpg" alt="A man looking at a gift that he opened." class="index-current-venture-image">
    </div>
    <div class="index-current-venture-container-text">
        <h2>Our Current Venture</h2>
        <p class="section-text">
            At Merchandise EZ, we are embarking on an exciting new
            venture aimed at revolutionizing the way you shop for
            high-quality, affordable products. Our latest project
            focuses on bringing a curated selection of innovative and
            practical items to the market, all carefully chosen to
            meet the needs of our diverse customer base.
        </p>
        <a href="/about-us#our-venture" class="cta-button">
            <div class="cta-button-fill">
                Learn More
            </div>
        </a>
    </div>
</section>