<section class="index-hero-shot">
    <div class="hero-shot-container" data-hero-shot-container>
        <div class="hero-shot-text-wrapper">
            <h1 class="hero-shot-title" data-hero-shot-text>
                <span class="hero-shot-text welcome-text">Welcome to Merchandise EZ</span>
                <span class="hero-shot-text"><%- include('../../svg/check-circle') %> QUALITY PRODUCTS</span>
                <span class="hero-shot-text"><%- include('../../svg/check-circle') %> EASY SHOPPING</span>
            </h1>
        </div>
    </div>
</section>