<section class="index-hero-shot">
    <div class="hero-shot-container" data-hero-shot-container>
        <div class="hero-shot-text-wrapper">
            <h1 class="hero-shot-title" data-hero-shot-text>
                <span class="hero-shot-text">MAKING</span>
                <span class="hero-shot-text">SHOPPING</span>
                <span class="hero-shot-text">EASY</span>
            </h1>
        </div>
    </div>
</section>