<nav class="main-footer-nav">
    <div class="main-footer-left">
        <a href="<%- pages.home.link %>" class="copyright-link">
            &copy; 2024 Merch EZ
        </a>
    </div>
    <div class="main-footer-right">
        <ul class="main-footer-link-list">
            <% for(const idx in pages) { %>
                <% if(pages[idx].title != "Home") { %>
                    <li class="main-footer-link-item">
                        <a href="<%- pages[idx].link %>" class="main-footer-link"><%- pages[idx].title %></a>
                    </li>
                <% } %>
            <% } %>
        </ul>
    </div>
</nav>